<app-table [data]="myData$" [columns]="tableColumns" [setItemACtion]="itemAction" [setItemCreation]="formCreate">
</app-table>


<ng-template #formCreate>
    <div class="container-form">
        <form class="content-form" [formGroup]="formCreateItem" *ngIf="valChange">
            <h1>Formulario de Pago</h1>
            <div style="width: calc(100%); display: flex; align-items: center; justify-content: flex-end; padding: 1.5rem;">
                <button class="btn btn-primary" (click)="valChange = false">
                    Seleccionar Cita <i class="fa-solid fa-hand-point-up"></i>
                </button>
            </div>
            <div class="content-form-item">
                <div class="form">
                    <label class="title">Cedula</label>
                    <input class="form-data" type="text" [(ngModel)]="itemReserva.Cedula" [ngModelOptions]="{standalone: true}" readonly>
                    <i class="fa-solid fa-id-card"></i>
                    
                </div>
                <div class="form">
                    <label class="title">Nombre del propietario</label>
                    <input class="form-data" type="text" [(ngModel)]="itemReserva.Nombre_Propietario" [ngModelOptions]="{standalone: true}" readonly>
                    <i class="fa-solid fa-pen-to-square"></i>
                    
                </div>
            </div>
            <div class="content-form-item">
                <div class="form">
                    <label class="title">Fecha de la Cita</label>
                    <input class="form-data" type="text"  [(ngModel)]="itemReserva.Fecha_Cita" [ngModelOptions]="{standalone: true}" readonly>
                    <i class="fa-solid fa-calendar-day"></i>
                    
                </div>

                <div class="form">
                    <label class="title">Hora de la Cita</label>
                    <input class="form-data" type="text" [(ngModel)]="itemReserva.Hora_Cita" [ngModelOptions]="{standalone: true}" readonly>
                    <i class="fa-solid fa-clock"></i>
                    
                </div>

            </div>
            <div class="content-form-item">
                <div class="form">
                    <label class="title">Tipo de Servicio</label>
                    <input class="form-data" type="text"  [(ngModel)]="itemReserva.Tipo_Servicio" [ngModelOptions]="{standalone: true}" readonly>
                    <i class="fa-solid fa-pen-to-square"></i>
                    
                </div>
                <mat-form-field class="form">
                    <mat-label>Descripcion del servicio</mat-label>
                    <textarea matInput placeholder="" [(ngModel)]="itemReserva.Descripcion_Servicio" [ngModelOptions]="{standalone: true}" readonly></textarea>
                    
                </mat-form-field>
            </div>
            <div class="content-form-item">
                <div class="form">
                    <label class="title">Forma del Pago</label>
                    <input class="form-data" type="text" formControlName="formaPago" [(ngModel)]="item.Forma_Pago">
                    <i class="fa-solid fa-comments-dollar"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreateItem('formaPago').valid || (formGetCreateItem('formaPago').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
                <div class="form">
                    <label class="title">Descuento</label>
                    <input class="form-data" type="number" formControlName="descuento" [(ngModel)]="item.Descuento" (keyup)="onInputChange($event)">
                    <i class="fa-solid fa-percent"></i>
                    <div
                        *ngIf="formGetCreateItem('descuento').invalid && (formGetCreateItem('descuento').dirty || formGetCreateItem('descuento').touched)">
                        <div class="alert alert-danger mt-1" [hidden]="formGetCreateItem('descuento').valid || (formGetCreateItem('descuento').pristine)">
                            El descuento es requerida.
                        </div>
                        <div class="alert alert-danger mt-1" *ngIf="formGetCreateItem('descuento').errors?.['pattern']">
                            El descuento debe tener el formato correcto(0 - 0.99)
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-form-item">
                <div class="form">
                    <label class="title">Precio</label>
                    <input class="form-data" type="text" formControlName="precio" [(ngModel)]="itemReserva.Precio_Producto" readonly>
                    <i class="fa-solid fa-money-bill-1"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreateItem('precio').valid || (formGetCreateItem('precio').pristine)" >
                        El campo no puede estar Vacio.
                    </div>
                </div>
                <div class="form">
                    <label class="title">Pago</label>
                    <input class="form-data" type="text" formControlName="pago" [(ngModel)]="item.Pago">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreateItem('pago').valid || (formGetCreateItem('pago').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
            </div>
            
            <div class="form-button" style="margin-top: 35px;">
                <button class="btn btn-danger" (click)="cancelDialogResult()" #btnEnviar>
                    Cancelar
                </button>

                <button class="btn btn-primary" #btnEnviar (click)="saveData()">
                    Guardar
                </button>
            </div>

        </form>

        <div *ngIf="!valChange">
            <app-sub-tablet [data]="myDataReserva" [columns]="tableColumnsReserva"
                (selectItemsCell)="obtenerMascota($event)" (cancelTable)="cancelarTabla()">
            </app-sub-tablet>
        </div>
    </div>
</ng-template>

<ng-template #formUpdate>
    <div class="container-form">
        <form class="content-form" [formGroup]="formCreateItem" *ngIf="valChange">
            <h1>Formulario de Pago</h1>
            <div style="width: calc(100%); display: flex; align-items: center; justify-content: flex-end; padding: 1.5rem;">
                <button class="btn btn-primary" (click)="valChange = false">
                    Seleccionar Cita <i class="fa-solid fa-hand-point-up"></i>
                </button>
            </div>
            <div class="content-form-item">
                <div class="form">
                    <label class="title">Cedula</label>
                    <input class="form-data" type="text" [(ngModel)]="itemReserva.Cedula" [ngModelOptions]="{standalone: true}" readonly>
                    <i class="fa-solid fa-id-card"></i>
                    
                </div>
                <div class="form">
                    <label class="title">Nombre del propietario</label>
                    <input class="form-data" type="text" [(ngModel)]="itemReserva.Nombre_Propietario" [ngModelOptions]="{standalone: true}" readonly>
                    <i class="fa-solid fa-pen-to-square"></i>
                    
                </div>
            </div>
            <div class="content-form-item">
                <div class="form">
                    <label class="title">Fecha de la Cita</label>
                    <input class="form-data" type="text"  [(ngModel)]="itemReserva.Fecha_Cita" [ngModelOptions]="{standalone: true}" readonly>
                    <i class="fa-solid fa-calendar-day"></i>
                    
                </div>

                <div class="form">
                    <label class="title">Hora de la Cita</label>
                    <input class="form-data" type="text" [(ngModel)]="itemReserva.Hora_Cita" [ngModelOptions]="{standalone: true}" readonly>
                    <i class="fa-solid fa-clock"></i>
                    
                </div>

            </div>
            <div class="content-form-item">
                <div class="form">
                    <label class="title">Tipo de Servicio</label>
                    <input class="form-data" type="text"  [(ngModel)]="itemReserva.Tipo_Servicio" [ngModelOptions]="{standalone: true}" readonly>
                    <i class="fa-solid fa-pen-to-square"></i>
                    
                </div>
                <mat-form-field class="form">
                    <mat-label>Descripcion del servicio</mat-label>
                    <textarea matInput placeholder="" [(ngModel)]="itemReserva.Descripcion_Servicio" [ngModelOptions]="{standalone: true}" readonly></textarea>
                    
                </mat-form-field>
            </div>
            <div class="content-form-item">
                <div class="form">
                    <label class="title">Forma del Pago</label>
                    <input class="form-data" type="text" formControlName="formaPago" [(ngModel)]="item.Forma_Pago">
                    <i class="fa-solid fa-comments-dollar"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreateItem('formaPago').valid || (formGetCreateItem('formaPago').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
                <div class="form">
                    <label class="title">Descuento</label>
                    <input class="form-data" type="number" formControlName="descuento" [(ngModel)]="item.Descuento" (keyup)="onInputChange($event)">
                    <i class="fa-solid fa-percent"></i>
                    <div
                        *ngIf="formGetCreateItem('descuento').invalid && (formGetCreateItem('descuento').dirty || formGetCreateItem('descuento').touched)">
                        <div class="alert alert-danger mt-1" [hidden]="formGetCreateItem('descuento').valid || (formGetCreateItem('descuento').pristine)">
                            El descuento es requerida.
                        </div>
                        <div class="alert alert-danger mt-1" *ngIf="formGetCreateItem('descuento').errors?.['pattern']">
                            El descuento debe tener el formato correcto(0 - 0.99)
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-form-item">
                <div class="form">
                    <label class="title">Precio</label>
                    <input class="form-data" type="text" formControlName="precio" [(ngModel)]="itemReserva.Precio_Producto" readonly>
                    <i class="fa-solid fa-money-bill-1"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreateItem('precio').valid || (formGetCreateItem('precio').pristine)" >
                        El campo no puede estar Vacio.
                    </div>
                </div>
                <div class="form">
                    <label class="title">Pago</label>
                    <input class="form-data" type="text" formControlName="pago" [(ngModel)]="item.Pago">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreateItem('pago').valid || (formGetCreateItem('pago').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
            </div>
            
            <div class="form-button" style="margin-top: 35px;">
                <button class="btn btn-danger" (click)="cancelDialogResult()" #btnEnviar>
                    Cancelar
                </button>

                <button class="btn btn-primary" #btnEnviar (click)="saveData()">
                    Guardar
                </button>
            </div>

        </form>

        <div *ngIf="!valChange">
            <app-sub-tablet [data]="myDataReserva" [columns]="tableColumnsReserva"
                (selectItemsCell)="obtenerMascota($event)" (cancelTable)="cancelarTabla()">
            </app-sub-tablet>
        </div>
    </div>
</ng-template>


<ng-template #itemAction>
    <div class="container-action">
        <h1 class="title-action">¿Qué acción desea realizar?</h1>
        <button class="btn-action btn-primary" (click)="openDialogWithTemplate(info)">Ver Información</button>
        <button class="btn-action btn-primary" (click)="openDialogWithTemplate(formCreate)">Agregar pago</button>
    </div>
</ng-template>

<ng-template #info>
    <div class="container-info" >
        <div class="content-left">
            
        </div>
    
        <div class="content-right">
            <h1  class="content-left-title">Información del pago</h1>
            <div class="content-right-content">
                <h2 class="content-right-content-text"><strong>Cedula</strong></h2>
                <span class="content-right-content-text">{{item.Cedula_Propietario}}</span>
            </div>
            <div class="content-right-content">
                <h2 class="content-right-content-text"><strong>Nombre del Propietario</strong></h2>
                <span class="content-right-content-text">{{item.Nombre_Propietario}}</span>
            </div>
            <div class="content-right-content">
                <h2 class="content-right-content-text"><strong>Fecha de la cita</strong></h2>
                <span class="content-right-content-text">{{item.Fecha_Cita}}</span>
            </div>
            <div class="content-right-content">
                <h2 class="content-right-content-text"><strong>Hora de la cita</strong></h2>
                <span class="content-right-content-text">{{item.Hora_Cita}}</span>
            </div>
            <div class="content-right-content">
                <h2 class="content-right-content-text"><strong>Tipo de servicio</strong></h2>
                <span class="content-right-content-text">{{item.Tipo_Servicio}}</span>
            </div>
            <div class="content-right-content">
                <h2 class="content-right-content-text"><strong>Descripcion del servicio</strong></h2>
                <span class="content-right-content-text">{{item.Descripcion_Servicio}}</span>
            </div>
            <div class="content-right-content">
                <h2 class="content-right-content-text"><strong>Forma del pago</strong></h2>
                <span class="content-right-content-text">{{item.Forma_Pago}}</span>
            </div>
            <div class="content-right-content">
                <h2 class="content-right-content-text"><strong>Descuento</strong></h2>
                <span class="content-right-content-text">{{item.Descuento}}</span>
            </div>
            <div class="content-right-content">
                <h2 class="content-right-content-text"><strong>Precio</strong></h2>
                <span class="content-right-content-text">{{item.Precio}}</span>
            </div>
            <div class="content-right-content">
                <h2 class="content-right-content-text"><strong>Pago</strong></h2>
                <span class="content-right-content-text">{{item.Pago}}</span>
            </div>
        </div>
    </div>
</ng-template>