<div class="container-inicio">

    <div class="content-card-cita">
        <div style="display: flex; flex-direction: column;">
            <h1 style="font-family: 'Crimson Text', serif; font-weight: 900;">Próxima cita</h1>

            <h2 style="margin: 2px; font-family: 'Archivo Narrow', sans-serif;">Cliente : {{citas[0].propietario}}</h2>
            <h2 style="margin: 2px; font-family: 'Archivo Narrow', sans-serif;">Fecha : {{citas[0].fecha}}</h2>
            <h2 style="margin: 2px; font-family: 'Archivo Narrow', sans-serif; margin-bottom: 1rem;">Hora :
                {{citas[0].hora}}</h2>
        </div>
        <div style="display: flex; flex-direction: column;">
            <h3 style="margin: 0; font-family: 'lato', sans-serif; font-weight: 700;">Direccion:</h3>
            <span style="margin: 0; font-family: 'lato', sans-serif; font-weight: 700;">{{citas[0].ubicacion}}</span>
        </div>

    </div>

    <div >
        <h1 style="font-family: 'Crimson Text', serif; font-weight: 900; margin-left: 2rem;">Servicios más solicitados</h1>
        <app-bar-chart [data]="ProductBarrasSelling.count" [labels]="ProductBarrasSelling.labels"
            [title]="ProductBarrasSelling.title"></app-bar-chart>
    </div>

    <div>
        <div>
            <full-calendar [options]="calendarOptions" class="calendary">
                <ng-template #eventContent let-arg>
                    <b>{{arg.timeText}}</b>
                    <i>{{arg.event.title}}</i>
                </ng-template>
            </full-calendar>
        </div>

    </div>

    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h1 style="font-family: 'Crimson Text', serif; font-weight: 900; margin-left: 2rem;">Dias mas agendados</h1>
        <app-bar-chart [data]="ProductBarrasSelling.count" [labels]="ProductBarrasSelling.labels"
            [title]="ProductBarrasSelling.title" style="height: auto; width: calc(100%);"></app-bar-chart>
    </div>
</div>